/*!
*
*
* FONTS IMPORT
*
*
*/

@import "vars";
@import "fonts";
/*!
*
*
* LIBS FILES
*
*
*/

@import "libs";
/*!
*
*
* END OF LIBS FILES
*
* MAIN.CSS START
*
*
*/

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}


body {
  text-align: center;
  font-family: 'Arial', sans-serif;
  /*  background: linear-gradient(bisque, lightskyblue);*/
  height: 100vh;
  animation-name: bg-color;
  animation-duration: 50s;
  background-color: bisque;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bg-color {
  0% {
    background-color: papayawhip;
  }

  25% {
    background-color: lightskyblue;
  }
}

50% {
  background-color: azure;
}

75% {
  background-color: cornsilk;
}

100% {
  background-color: bisque;
}




.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

#canvas {
  border: 4px solid green;
  position: absolute;
  background-color: lightcyan;
  animation-play-state: paused;
  top: 30%;
  right: 30%;
  position: absolute;
  &:hover {
    animation-play-state: running;
    transition: all 1s;
    transform: scale(1.5) rotate(360deg);
    box-shadow: 0  0 200px rgba(255,255,255,1);
  }
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: mymove;

}
@keyframes mymove {
  0% {
    top: 0%;
    right: 0%;
  }
  25% {
    right: calc(100% - 300px);
    top:0%;
  }
  50% {
    top:calc(100% - 300px);
    right: calc(100% - 300px);

  }
  75% {
    top:calc(100% - 300px);
    right:0%;
  }
  100% {
    top: 0%;
    right: 0%;
  }
}
.rect {
  width: 150px;
  height: 150px;
  background-color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}


#glCanvas {
//  background-color: #000;
  position: relative;
}

/*!
*
*
* END OF MAIN.CSS
*
* MEDIA.CSS START
*
*
*/

@import "media"; // Always at the end
